
@{
    ViewData["Title"] = "Frappucino";
}
<head>
    <title>Cappucino</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/view.css" />
</head>

<p id="viewHeader">Cappucino  <span style="font-size: 1.75rem; color: green; font-weight: bold;">(Small - $6.99, Medium - $8.99, Large $9.99)</span></p>
<div>
    <div id="viewDiv">                      
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c0/Capuccino_Italy.jpg" alt="Cappucino" style="width: 400px; height : 500px; " />  
    
        <div id="description">
            <span style="font-size: 2rem; color: #aaa7a2; font-weight: bold;">Description: </span><br />
            A cappuccino is an espresso-based coffee drink that originated in Italy, and is traditionally prepared with steamed milk foam. We use extra flavoring with cinnamon or chocolate powder per your preference!
            A delicious take on a classic coffee that will not only get you moving, but please your taste buds as well!
            <ul>
                <li><span style="font-weight: bold; font-size: 1.5rem;  text-decoration: underline;">Calories</span>
                    <ul>
                        <li>Small: 200</li> 
                        <li>Medium: 300</li>
                        <li>Large: 400</li>
                    </ul>
                </li> 
                <li><span style="font-weight: bold; font-size: 1.5rem;  text-decoration: underline;">Fat</span>
                    <ul>
                    <li>Small: 8.5 g</li>
                    <li>Medium: 16 g</li>
                    <li>Large: 23 g</li>
                    </ul> 
                <li><span style="font-weight: bold; font-size: 1.5rem;  text-decoration: underline;">Caffeine</span>
                    <ul>
                        <li>Small: 95 mg</li>
                        <li>Medium: 170 mg</li>
                        <li>Large: 215 mg</li>
                    </ul>
            </ul><br />
            

        </div>
</div>
    </div>
 
