
@{
    ViewData["Title"] = "Espresso";
}
<head>
    <title>Espresso</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/view.css" />
</head>

<p id="viewHeader">Espresso  <span style="font-size: 1.75rem; color: green; font-weight: bold;">(Small - $4.99, Medium - $6.99, Large $7.99)</span></p>
<div>
    <div id="viewDiv">
        <img src="https://www.dailygrind.com/wp-content/uploads/2018/11/espresso-1.jpg" alt="Espresso" style="width: 550px; height : 500px; " />

        <div id="description">
            <span style="font-size: 2rem; color: #aaa7a2; font-weight: bold;">Description: </span><br />
            Espresso is a coffee-making method of Italian origin, in which a small amount of nearly boiling water is forced under pressure through finely-ground coffee beans. We use only the finest italian coffee beans for our product. Our espresso is for those who are looking for an extra boost compared to other coffees, while maintaining that same flavor you have come to expect!
            <ul>
                <li>
                    <span style="font-weight: bold; font-size: 1.5rem;  text-decoration: underline;">Calories</span>
                    <ul>
                        <li>Small: 150</li>
                        <li>Medium: 225</li>
                        <li>Large: 300</li>
                    </ul>
                </li>
                <li>
                    <span style="font-weight: bold; font-size: 1.5rem;  text-decoration: underline;">Fat</span>
                    <ul>
                        <li>Small: 6.5 g</li>
                        <li>Medium: 13 g</li>
                        <li>Large:  19.5 g</li>
                    </ul>
                <li>
                    <span style="font-weight: bold; font-size: 1.5rem;  text-decoration: underline;">Caffeine</span>
                    <ul>
                        <li>Small: 105 mg</li>
                        <li>Medium: 195 mg</li>
                        <li>Large: 245 mg</li>
                    </ul>
            </ul><br />


        </div>
    </div>
</div>

