
@{
    ViewData["Title"] = "Latte";
}
<head>
    <title>Latte</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/view.css" />
</head>

<p id="viewHeader">Iced Latte  <span style="font-size: 1.75rem; color: green; font-weight: bold;">(Small - $3.99, Medium - $4.99, Large $5.99)</span></p>
<div>
    <div id="viewDiv">
        <img src="https://www.torani.com/sites/default/files/styles/torani_syrup_recipe_detail/public/recipes/illustration/iced%20latte%20with%20swirl.jpg" alt="Latte" style="width: 500px; height : 500px; " />

        <div id="description">
            <span style="font-size: 2rem; color: #aaa7a2; font-weight: bold;">Description: </span><br />
            Caffe latte is a coffee drink made with espresso and steamed milk. Another italian classic, our iced latte is easily a customer favorite. A classic, robust coffee flavor served in all sizes with a refreshing cold to boot. You will never go wrong with our traditional latte!
            <ul>
                <li>
                    <span style="font-weight: bold; font-size: 1.5rem;  text-decoration: underline;">Calories</span>
                    <ul>
                        <li>Small: 200</li>
                        <li>Medium: 300</li>
                        <li>Large: 400</li>
                    </ul>
                </li>
                <li>
                    <span style="font-weight: bold; font-size: 1.5rem;  text-decoration: underline;">Fat</span>
                    <ul>
                        <li>Small: 8.5 g</li>
                        <li>Medium: 16 g</li>
                        <li>Large: 23 g</li>
                    </ul>
                <li>
                    <span style="font-weight: bold; font-size: 1.5rem;  text-decoration: underline;">Caffeine</span>
                    <ul>
                        <li>Small: 95 mg</li>
                        <li>Medium: 170 mg</li>
                        <li>Large: 215 mg</li>
                    </ul>
            </ul><br />


        </div>
    </div>
</div>

