  @{
    ViewData["Title"] = "Home Page";
}

<div class="column-middle">
    <h1 style="color: white; font-family: 'Dancing Script', cursive; font-size: 2rem; font-weight: bold;">Welcome to Kevin's Cafe Coffee!</h1>
    <p style="color: white;">Please use the menu to see our products and pricing!</p><br />
    <p style="color: white;"> This page is still a work in progress! Much more goodies to come!</p></p?>
</div>
    